@import "tailwindcss";

@font-face {
  font-family: "EudoxusSans";
  src: url("/fonts/EudoxusSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EudoxusSans";
  src: url("/fonts/EudoxusSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "EudoxusSans";
  src: url("/fonts/EudoxusSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Garata";
  src: url("/fonts/Garata.ttf");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "EudoxusSans", sans-serif;
  font-weight: normal;
}

p {
  font-size: 0.9rem;
}

h1 {
  font-weight: bold;
  font-size: 1.4rem;
}
